<div class="header">
  <h1>Welcome to INVITER :)</h1>
</div>

<div class="something">
  <h3>Inviter is all about communicating and exploring the tradition of connecting with people and managing invitations using seamless technologies that let users create an event and send invitations.</h3>
      <h3>⤷(Users can create invitations to events by signing up for an account)</h3>


</div>

<div class="images">
    <img class="image" src="assets/invite1.png" alt="">
    <img  class="image"src="assets/invite3.png" alt="">
</div>
<br>
<h4 class="disclaimer">**<strong>Disclaimer:</strong>  Potentially Inappropriate events will be deleted by the admin!</h4>
