/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
   *= require rails_bootstrap_forms
   */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

*{
  font-family: 'Special Elite', cursive;
}

*{
  padding: 0;
  margin: 0;
}
 li {
     padding: 0.5em;

     text-decoration: none;

     a:hover { border-bottom:3px solid #fff;}
   }

   a:link {
    text-decoration: none;
}

a:visited {

    text-decoration: none;
}



 .red {
   color: red;
   &:hover {
     color: red;
     text-decoration: none;
   }
 }
 .green {
   color: green;
 }
 .my-nav ul {
   text-align: center;
   margin-top: 30px;
   list-style: none;
   padding: 0;
 }

 .col-sm-3{
   margin-left: -46px;
   background-color: #FBCC61;
   height: 1000px;
 }

.jumbotron{
  margin-left: -15px;
  width: 1000px;
  max-width: 100%;
  font-size: 40px;
  color: black;

  h2::first-letter {
    color: green;

}
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

a{
  font-size: 15px;
}
