/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
   *= require rails_bootstrap_forms
   */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";



 li {
     padding: 0.5em;
     text-decoration: none;
     border-bottom: solid 1px #c4c4c4;

   }

 .red {
   color: red;
   &:hover {
     color: red;
     text-decoration: none;
   }
 }
 .green {
   color: green;
 }
 .my-nav ul {
   padding-left: 60px;
   margin-top: 30px;
   list-style: none;
   padding: 0;
 }

.jumbotron{
  background-color: black;
  max-width: 100%;
  color: white;
  h2::first-letter { 
    color: #8A2BE2;
}
}
